# Introduction to Data Science
### week 2


Resources: 
- Stack Overflow
- Books:
    - Python for Data Analysis (O'Reilly) - Comprehensive and in depth
    - Learning the Pandas Library - Pandas Basics, Quick Read
    
- Planet Python Blog
- Data Skeptic Podcast (Not Python Based, but well produced & Data info)

## The Series Data Structure

In [2]:
import pandas as pd
pd.Series?

In [4]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [5]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [7]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [8]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
import numpy as np
np.nan == None

False

In [10]:
np.isnan(np.nan)

True

In [11]:
# a series can be created from a dictionary
# the index will be set to the keys
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [13]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [14]:
# can explicitly pass in the series data as a list with a corresponding list for the index (keys)
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object